@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-border-radius: 0px;
  -webkit-appearance: none; }

@font-face {
  font-family: "Roboto";
  src: url(font/roboto-v18-latin-regular.woff2) format("woff2"), url(font/roboto-v18-latin-regular.woff) format("woff"); }

@font-face {
  font-family: "Roboto";
  src: url(font/roboto-v18-latin-700.woff2) format("woff2"), url(font/roboto-v18-latin-700.woff) format("woff");
  font-weight: bold; }

.page {
  font-family: "Roboto", Arial, Georgia;
  color: #5B5B5B; }
  .page--main {
    background-color: #F4F0ED; }

.page__header {
  margin-top: 24px; }

.wrapper {
  display: block;
  min-width: 270px;
  max-width: 1165px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px; }

.page-header {
  display: flex;
  justify-content: flex-start; }
  .page-header--top {
    padding-bottom: 10px; }
  .page-header--menu {
    background-color: #E5E5E5; }

.page-header__contact-box {
  margin-left: 40px; }

.page-header__buttons {
  margin-left: auto; }

.page-header__munu {
  width: 100%;
  display: flex; }

.contact-box {
  display: flex;
  justify-content: space-between; }

.contact-box__adress {
  margin-left: 30px; }

.contact-box__interactive {
  margin-left: 30px; }

.top-link {
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  color: #5B5B5B; }
  .top-link--phone {
    padding-left: 16px;
    width: 110px; }
    .top-link--phone::before {
      content: "";
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      left: 0;
      top: 0;
      background-image: url("pictures/icons/phone.svg"); }
  .top-link--adress {
    padding-left: 10px;
    min-width: 210px; }
    .top-link--adress::before {
      content: "";
      display: block;
      position: absolute;
      width: 8px;
      height: 12px;
      left: 0;
      top: 0;
      background-image: url("pictures/icons/adress.svg"); }

.header-buttons {
  display: flex; }

.text {
  font-size: 14px;
  line-height: 1.8em; }
  .text--link {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px dashed #82c044; }
    .text--link:hover {
      color: #82c044; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.main {
  padding-top: 16px; }

.main__about {
  margin-top: 40px; }

.main__about-list {
  margin-top: 35px; }

.main__services {
  margin-top: 90px; }

.main__services-list {
  margin-top: 25px; }

.caption-text {
  text-transform: uppercase;
  font-size: 26px; }

.main-menu {
  display: flex;
  width: 750px;
  justify-content: space-between; }

.main-menu__private-area {
  margin-left: auto; }

.menu-link {
  display: block;
  color: #5B5B5B;
  text-decoration: none;
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  position: relative; }
  .menu-link--more::after {
    content: "";
    display: block;
    position: absolute;
    right: 5px;
    top: 45%;
    border: 5px solid transparent;
    border-top: 5px solid #5B5B5B; }
  .menu-link--srvices::before {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 15%;
    background-image: url(pictures/icons/services.svg); }
  .menu-link--money::before {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 15%;
    background-image: url(pictures/icons/money.svg); }
  .menu-link--doctor::before {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 15%;
    background-image: url(pictures/icons/doctor.svg); }
  .menu-link--time::before {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 15%;
    background-image: url(pictures/icons/time.svg); }
  .menu-link--contacts::before {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 15%;
    background-image: url(pictures/icons/contacts.png); }
  .menu-link:hover {
    background-color: #C4C4C4; }
  .menu-link--private {
    padding-left: 40px;
    font-size: 14px;
    font-weight: bold; }
    .menu-link--private::before {
      content: "";
      display: block;
      position: absolute;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      left: 0;
      top: 2px;
      background-color: #C4C4C4; }
    .menu-link--private:hover {
      background-color: #E5E5E5;
      opacity: 0.8; }

.main-tablet {
  display: flex;
  justify-content: space-between; }

.main-tablet__right {
  width: 368px;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.main-tablet__left {
  width: 780px; }

.main-tablet__slider {
  height: 304px;
  background-color: white;
  margin-bottom: 15px; }

.tablet {
  display: flex;
  justify-content: space-between; }

.tablet__right-item {
  display: block;
  width: 49%;
  min-height: 288px; }

.tablet__left-item {
  height: 192px;
  box-sizing: border-box; }

.tablet-item {
  background-color: #ffffff;
  border-radius: 3px;
  display: block;
  color: #5B5B5B;
  text-decoration: none;
  height: 100%;
  box-sizing: border-box; }
  .tablet-item:hover {
    -webkit-box-shadow: 0px 6px 21px 0px #6b6b6b;
    -moz-box-shadow: 0px 6px 21px 0px #6b6b6b;
    box-shadow: 0px 6px 21px 0px #6b6b6b; }
  .tablet-item--left {
    padding: 25px 45px 0 25px; }
  .tablet-item--right {
    padding: 25px 0 0 25px; }

.tablet-item__list {
  margin-top: 15px; }

.tablet-item__list-item {
  font-size: 14px;
  line-height: 20px; }

.tablet-item__list-item:not(:last-child) {
  margin-bottom: 10px; }

.header-font {
  font-weight: bold; }
  .header-font--h2 {
    font-size: 24px;
    text-transform: uppercase; }
  .header-font--h3 {
    font-size: 18px; }
  .header-font--tablet {
    padding: 18px 0 18px 75px;
    position: relative; }
    .header-font--tablet::before {
      content: "";
      display: block;
      position: absolute;
      width: 56px;
      height: 56px;
      left: 0;
      top: 0; }
  .header-font--actual::before {
    background-image: url(pictures/icons/actual.svg); }
  .header-font--station::before {
    background-image: url(pictures/icons/station.svg); }
  .header-font--children::before {
    background-image: url(pictures/icons/children.svg); }
  .header-font--diagnostic::before {
    background-image: url(pictures/icons/diagnostic.svg); }
  .header-font--safety::before {
    background-image: url(pictures/icons/safety.svg); }

.about-list {
  display: flex;
  justify-content: space-between; }

.about-list__item {
  width: 130px; }

.about-list-item {
  text-align: center; }
  .about-list-item__text {
    margin-top: 30px; }

.font--about {
  line-height: 24px; }

.font--service {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold; }

.font--service-last {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  max-width: 150px;
  margin: 0 auto; }

.services-list {
  display: flex;
  justify-content: space-between; }

.services-list__item {
  width: 19%;
  height: 120px; }

.services-item {
  background-color: #ffffff;
  border-radius: 3px;
  display: block;
  color: #5B5B5B;
  text-decoration: none;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  padding-top: 25px; }

.present {
  padding-left: 10px; }
  .present__nav {
    margin-top: 10px;
    width: 280px;
    padding-left: 58px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; }
    @media (max-width: 970px) {
      .present__nav {
        flex-direction: row;
        width: 100%;
        justify-content: space-between; } }
    @media (max-width: 780px) {
      .present__nav {
        width: 90%;
        flex-direction: column;
        margin-bottom: 20px; } }
    @media (max-width: 590px) {
      .present__nav {
        width: 100%; } }
  .present__item {
    width: 220px;
    margin-bottom: 27px; }
    .present__item:nth-child(2) {
      width: 190px;
      margin-bottom: 27px; }
    .present__item:nth-child(3) {
      width: 175px; }
    .present__item:last-child {
      margin-bottom: 0px; }
    @media (max-width: 780px) {
      .present__item {
        width: 100% !important; } }
  .present__link {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    font-size: 18px;
    border-bottom: #82c044 2px solid;
    position: relative; }
    .present__link:hover {
      color: #82c044;
      border: none; }
    .present__link--opt:before {
      content: "";
      display: block;
      position: absolute;
      right: 100%;
      margin-right: 15px;
      top: -7px;
      width: 38px;
      height: 38px;
      border: 3px solid #82c044;
      border-radius: 50%;
      background: url(pictures/cube.svg) no-repeat 8px 8px; }
    .present__link--quest:before {
      content: "";
      display: block;
      position: absolute;
      right: 100%;
      margin-right: 13px;
      top: -7px;
      width: 38px;
      height: 38px;
      border: 3px solid #82c044;
      border-radius: 50%;
      background: url(pictures/quest.svg) no-repeat 11px 8px; }
    .present__link--video:before {
      content: "";
      display: block;
      position: absolute;
      right: 100%;
      margin-right: 13px;
      top: -5px;
      width: 38px;
      height: 38px;
      border: 3px solid #82c044;
      border-radius: 50%; }
    .present__link--video:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      right: 150%;
      top: 8px;
      border-top: 9px solid transparent;
      border-left: 15px solid #000000;
      border-bottom: 9px solid transparent; }
  .present__story {
    margin-top: 9px;
    font-size: 14px;
    line-height: 1.3em;
    color: #909090; }

.slider {
  z-index: 0; }
  @media (max-width: 700px) {
    .slider {
      width: 100%; } }
  .slider .swiper-button-next {
    background: none; }
    .slider .swiper-button-next:before {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 20px;
      top: 10%;
      right: 35%;
      background-color: #f2f1ee;
      transform: skew(35deg); }
    .slider .swiper-button-next:after {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 20px;
      bottom: 0%;
      right: 35%;
      background-color: #f2f1ee;
      transform: skew(-35deg); }
    .slider .swiper-button-next:hover:before {
      background-color: #82c044; }
    .slider .swiper-button-next:hover:after {
      background-color: #82c044; }
  .slider .swiper-button-prev {
    background: none; }
    .slider .swiper-button-prev:before {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 20px;
      top: 10%;
      left: 35%;
      background-color: #f2f1ee;
      transform: skew(-35deg); }
    .slider .swiper-button-prev:after {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 20px;
      bottom: 0%;
      left: 35%;
      background-color: #f2f1ee;
      transform: skew(35deg); }
    .slider .swiper-button-prev:hover:before {
      background-color: #82c044; }
    .slider .swiper-button-prev:hover:after {
      background-color: #82c044; }
  .slider .swiper-pagination-bullet {
    background: #909090;
    opacity: 1; }
  .slider .swiper-pagination-bullet-active {
    background: #f6b213; }
  .slider--tabs {
    width: 100%; }
    .slider--tabs .swiper-button-next:before {
      background-color: #404040; }
    .slider--tabs .swiper-button-next:after {
      background-color: #404040; }
    .slider--tabs .swiper-button-prev:before {
      background-color: #404040; }
    .slider--tabs .swiper-button-prev:after {
      background-color: #404040; }
    .slider--tabs .swiper-pagination-bullet {
      display: none; }
    .slider--tabs .swiper-pagination-bullet-active {
      display: none; }

.swiper-container {
  width: 630px;
  height: 330px; }
  @media (max-width: 700px) {
    .swiper-container {
      width: 100%;
      height: 100%; } }
  .swiper-container--tabs {
    width: 100%;
    height: 100%; }

.tabs__list {
  display: flex;
  background-color: #82c044;
  padding: 0 26px;
  border-radius: 2px 2px 0 0; }
  @media (max-width: 610px) {
    .tabs__list {
      flex-direction: column;
      padding: 0; } }

.tabs__list-item {
  flex-grow: 1;
  text-align: center; }
  @media (max-width: 610px) {
    .tabs__list-item {
      width: 100%;
      border-bottom: 1px solid #000000; }
      .tabs__list-item:last-child {
        border: none; } }
  .tabs__list-item--active .tabs__list-link {
    position: relative;
    color: #fff;
    font-weight: bold; }
    .tabs__list-item--active .tabs__list-link:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 35px;
      right: 40%;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 10px solid #ececec; }
      @media (max-width: 610px) {
        .tabs__list-item--active .tabs__list-link:after {
          display: none; } }

.tabs__list-link {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  display: block; }
  .tabs__list-link:hover {
    color: #fff; }

.tabs__cards {
  display: flex;
  background-color: #ececec;
  justify-content: space-between;
  padding: 36px 50px;
  border-radius: 0 0 2px 2px;
  box-sizing: border-box; }
  @media (max-width: 880px) {
    .tabs__cards {
      flex-wrap: wrap;
      padding: 36px 35px; } }
  @media (max-width: 830px) {
    .tabs__cards {
      padding: 36px 20% 0; } }
  @media (max-width: 790px) {
    .tabs__cards {
      padding: 36px 16% 0; } }
  @media (max-width: 600px) {
    .tabs__cards {
      padding: 36px 8% 0; } }
  @media (max-width: 460px) {
    .tabs__cards {
      flex-direction: column;
      align-items: center; } }

.tabs__card {
  display: block;
  width: 170px;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  padding-bottom: 10px;
  border-radius: 3px; }
  .tabs__card:hover {
    border: 2px solid #82c044;
    margin: -2px;
    border-radius: 3px; }
    @media (max-width: 450px) {
      .tabs__card:hover {
        margin-bottom: 34px; } }
  @media (max-width: 830px) {
    .tabs__card {
      margin-bottom: 36px; } }

.tabs__image {
  position: relative;
  overflow: hidden;
  width: 130px;
  height: 125px;
  margin: 0 auto; }

.tabs__pic {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto; }

.tabs__text {
  line-height: 1.3em; }

.tabs__price {
  margin-top: 9px;
  font-size: 20px;
  font-weight: bold; }

.tabs__cur {
  font-size: 14px;
  font-weight: normal; }

.cards {
  display: flex;
  padding-left: 5px;
  padding-right: 8px;
  justify-content: space-between; }
  @media (max-width: 820px) {
    .cards {
      flex-wrap: wrap;
      padding: 0 19%; } }
  @media (max-width: 660px) {
    .cards {
      flex-wrap: wrap;
      padding: 0 11%; } }
  @media (max-width: 530px) {
    .cards {
      padding: 0; } }
  .cards__item {
    width: 120px;
    text-align: center; }
    .cards__item:nth-child(3) {
      margin-right: 10px; }
      @media (max-width: 820px) {
        .cards__item:nth-child(3) {
          margin-right: 0; } }
    .cards__item:hover .cards__photo {
      border: 3px solid #82c044;
      margin: -3px -3px 19px; }
    .cards__item:hover .cards__text {
      color: #82c044;
      border-bottom: none; }
    @media (max-width: 820px) {
      .cards__item {
        padding-bottom: 20px; } }
    @media (max-width: 540px) {
      .cards__item {
        margin: 0 9%; } }
    @media (max-width: 425px) {
      .cards__item {
        margin: 1%; } }
  .cards__photo {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 22px;
    /* для pp*/ }
    .cards__photo--comar {
      background: url(pictures/sprite.jpg) no-repeat -2px; }
    .cards__photo--tarakan {
      background: url(pictures/sprite.jpg) no-repeat -134px; }
    .cards__photo--grizuni {
      background: url(pictures/sprite.jpg) no-repeat -265px; }
    .cards__photo--ptizi {
      background: url(pictures/sprite.jpg) no-repeat -396px; }
    .cards__photo--mishi {
      background: url(pictures/sprite.jpg) no-repeat -527px; }
    .cards__photo--krisi {
      background: url(pictures/sprite.jpg) no-repeat -658px; }
  .cards__text {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    border-bottom: 2px solid #82c044; }

.interactive {
  display: flex;
  justify-content: space-between;
  min-width: 80px; }

.interactive-button {
  display: block;
  width: 32px;
  height: 32px;
  padding: 6px;
  box-sizing: border-box;
  background-color: #C4C4C4;
  border-radius: 3px; }

.reviews {
  width: 265px; }
  @media (max-width: 600px) {
    .reviews {
      width: 100%; } }
  .reviews__member {
    display: block;
    padding-left: 92px;
    margin-bottom: 26px;
    position: relative; }
    .reviews__member:before {
      content: "";
      position: absolute;
      display: block;
      width: 75px;
      height: 75px;
      left: 0;
      top: -2px;
      border-radius: 50%;
      background: url(pictures/face.jpg); }
  .reviews__name {
    font-weight: bold;
    font-size: 18px; }
  .reviews__description {
    margin-top: 5px;
    line-height: 1.4em;
    width: 150px; }
  .reviews__story {
    display: block;
    width: 265px;
    font-size: 14px;
    line-height: 1.45em;
    margin-bottom: 14px; }
    @media (max-width: 600px) {
      .reviews__story {
        width: 100%; } }
  .reviews__quotes {
    color: #82c044;
    font-size: 28px;
    position: relative;
    top: 2px;
    line-height: 0em; }
  .reviews__text {
    margin-bottom: 37px; }

.subscribe {
  width: 220px; }
  @media (max-width: 600px) {
    .subscribe {
      width: 100%; } }
  .subscribe__input {
    width: 220px;
    border: none;
    border-bottom: 1px solid #000000;
    margin-bottom: 16px; }
    @media (max-width: 600px) {
      .subscribe__input {
        width: 100%; } }
  .subscribe__btn {
    margin-top: 8px;
    width: 220px;
    height: 40px;
    margin-bottom: 16px; }
    @media (max-width: 600px) {
      .subscribe__btn {
        width: 100%; } }
  .subscribe__text {
    margin-bottom: 37px; }
  .subscribe__gray-text {
    width: 100%;
    line-height: 1.3em;
    margin-bottom: 13px; }

::-webkit-input-placeholder {
  color: #909090; }

::-moz-placeholder {
  color: #909090; }

:-moz-placeholder {
  color: #909090; }

:-ms-input-placeholder {
  color: #909090; }

.button {
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
  padding: 10px 0;
  box-shadow: none; }
  .button--white {
    color: #A3A3A3;
    background: white;
    border: 1px solid #A3A3A3;
    margin-right: 16px;
    width: 104px; }
  .button--grey {
    color: white;
    background: #BDBDBD;
    border: none;
    width: 104px; }

.page-footer {
  padding-top: 26px;
  padding-bottom: 35px;
  background-color: #82c044; }
  .page-footer__body {
    margin-left: 10px; }
  .page-footer__footer {
    margin-top: 25px;
    margin-left: 5px; }

.footer-menu__caption {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 13px; }

.footer-menu__link {
  font-size: 14px;
  color: #000000;
  line-height: 1.47em; }
  .footer-menu__link:hover {
    color: #fff; }

.footer-menu__icons {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  margin-top: 22px;
  width: 215px;
  height: 90px; }
  .footer-menu__icons--post {
    width: 145px;
    flex-direction: column;
    flex-wrap: nowrap;
    background: url(pictures/delivery.png) no-repeat; }

.footer-menu__icon {
  display: block;
  width: 67px;
  height: 43px;
  border-radius: 5px; }
  .footer-menu__icon--webmoney {
    background: url(pictures/web.png); }
  .footer-menu__icon--qiwi {
    background: url(pictures/qw.png); }
  .footer-menu__icon--mastercard {
    background: url(pictures/mc.png); }
  .footer-menu__icon--svyaznoy {
    background: url(pictures/sv.png); }
  .footer-menu__icon--yandex {
    background: url(pictures/ya.png); }
  .footer-menu__icon--visa {
    background: url(pictures/visa.png); }

.footer-body {
  display: flex;
  justify-content: space-between;
  width: 90%; }
  @media (max-width: 930px) {
    .footer-body {
      width: 97%; } }
  @media (max-width: 750px) {
    .footer-body {
      flex-wrap: wrap;
      width: 65%;
      margin: 0 auto; } }
  @media (max-width: 550px) {
    .footer-body {
      flex-wrap: wrap;
      width: 90%; } }
  @media (max-width: 410px) {
    .footer-body {
      flex-direction: column;
      padding-left: 20px; } }
  .footer-body__additional {
    width: 180px;
    margin-left: 17%; }
    @media (max-width: 860px) {
      .footer-body__additional {
        margin: 0 auto; } }
    @media (max-width: 750px) {
      .footer-body__additional {
        order: 3;
        margin: 0;
        margin-top: 20px; } }
    @media (max-width: 410px) {
      .footer-body__additional {
        order: 2; } }
  .footer-body__pay {
    margin-left: auto;
    margin-right: 25px; }
    @media (max-width: 750px) {
      .footer-body__pay {
        margin: 0; } }
    @media (max-width: 410px) {
      .footer-body__pay {
        order: 2;
        margin-top: 20px; } }
  @media (max-width: 750px) {
    .footer-body__delivery {
      order: 4;
      margin-top: 20px; } }

.text-additional {
  color: #909090;
  font-size: 14px; }

.text-link {
  display: block;
  font-size: 12px; }
  .text-link--adress {
    padding-left: 12px;
    color: #828282;
    padding-top: 3px; }

.footer-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  @media (max-width: 570px) {
    .footer-end {
      flex-wrap: wrap; } }
  .footer-end__social {
    display: flex; }
  .footer-end__text {
    color: #fff;
    font-size: 14px; }
    @media (max-width: 570px) {
      .footer-end__text--develop {
        width: 100%;
        margin-top: 10px; } }
  .footer-end__link {
    color: #000000; }
    .footer-end__link:hover {
      color: #fff; }
  .footer-end__social {
    display: flex;
    width: 138px;
    justify-content: space-between;
    margin-right: 23%; }
    @media (max-width: 740px) {
      .footer-end__social {
        margin-right: 0; } }
  .footer-end__icon {
    display: block;
    width: 21px;
    height: 20px;
    border: solid 1px #000000;
    border-radius: 1px; }
    .footer-end__icon:hover {
      border: none;
      margin: 1px; }
