.button {
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 0;
    box-shadow: none;
    &--white {
        color: $button-w-color;
        background: white;
        border: 1px solid $button-w-color;
        margin-right: 16px;
        width: 104px;  
    }
    &--grey {
        color: white;
        background: $button-g-back;
        border: none;
        width: 104px;        
    }
}
