.font{
    &--about {
        line-height: 24px;
    }
    &--service {
        font-size: 17px;
        line-height: 24px;
        font-weight: bold;
        margin-top: 5px;
    }
    &--service-last {
        font-size: 17px;
        line-height: 16px;
        font-weight: bold;
        max-width: 150px;
        margin: 7px auto 0 auto;
    }
    &--person-name {
        font-size: 18px;
        line-height: 24px;
        color: $font-color;
        font-weight: bold;
    }
    &--person-desc {
        font-size: 12px;
        line-height: 16px;
        color: $person-text;        
    }
    &--news-header {
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        color: $font-color;
    }
    &--news-topic {
        font-size: 14px;
        line-height: 20px;
        color: $font-color;
    }
    &--news-date {
        font-size: 12px;
        line-height: 16px;
        padding-left: 25px;
        color: $button-w-color;
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute; 
            left: 0;    
            width: 16px;
            height: 16px;
            background-color: $menu-hover-color;
            border-radius: 3px;
        }
    }
    &--news-more-link {
        font-size: 12px;
        line-height: 20px;
        padding-right: 20px;
        color: $font-color;
    }
}