.interactive-button {
    display: block;
    width: 32px;
    height: 32px;
    padding: 6px;
    box-sizing: border-box;
    background-color: $interactive-back;
    border-radius: 3px;            
}