.main {    
    padding-top: 16px;    
}
.main__about {    
    margin-top: 40px;    
}
.main__about-list {    
    margin-top: 35px;    
}

.main__services {
    margin-top: 90px;    
}

.main__services-list {
    margin-top: 25px;    
}

