.main {    
    padding-top: 16px;
    &--grey {        
        background-color: $main-back;        
    }    
}
.main__about {    
    margin-top: 45px;    
}
.main__about-list {    
    margin-top: 35px;    
}

.main__services {
    margin-top: 100px;    
}

.main__services-list {
    margin-top: 25px;    
}

.main__experts {
    margin-top: 115px;
}

.main__experts-list {
    margin-top: 15px;
}

.main__experts-list .swiper-container.s2 {
    padding: 15px 15px 25px 15px;
    left: -15px;
}

