.news{
    padding-bottom: 30px;
}

.news__list {
    margin-top: 30px;
}

.news__more-link {
    float: right;
    margin-top: 10px;
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;         
        right: 2px;
        top: 8px;
        width: 5px;
        height: 5px;
        border-right: 1px solid $black-color;
        border-bottom: 1px solid $black-color;
        transform: rotate(-45deg);        
    }
    &::after {
        content: '';
        display: block;
        position: absolute;         
        right: 2px;
        top: 5px;
        width: 10px;
        height: 5px;        
        border-bottom: 2px solid $black-color;       
    }
}