.page-header {
    display: flex;
    justify-content: flex-start;
    &--top {
        padding-bottom: 15px;
    }
    &--menu {
        background-color: $menu-vback-color;
    }     
}

.page-header__contact-box {
    margin-left: 40px;
}

.page-header__buttons {
    margin-left: auto;
}

.page-header__munu {
    width: 100%;
    display: flex;
}

.page-header__private-area {
    margin-left: auto;
}

