@font-face {
	font-family: "Roboto"; 
    src: url(font/roboto-v18-latin-regular.woff2) format('woff2'),
        url(font/roboto-v18-latin-regular.woff) format('woff') ; 
} 
@font-face {
	font-family: "Roboto"; 
    src: url(font/roboto-v18-latin-700.woff2) format('woff2'),
    url(font/roboto-v18-latin-700.woff) format('woff');
    font-weight: bold;
} 
.page { 
    font-family: $font-primary; 
    color: $font-color; 
      
}

.page__header {
    margin-top: 20px;
}