.socials-cart{
    display: block;
    width: 24px;
    height: 24px;
    background-color: $interactive-back;
    border-radius: 2px;
    padding: 4px;
    box-sizing: border-box; 
}

.socials-cart__icon {
    width: 100%;
    height: 100%;
}