$font-primary: "Roboto", Arial, Georgia;
$font-color: #5B5B5B;
$text-link-color: #828282;
$interactive-back: #C4C4C4;
$button-w-color: #A3A3A3;
$button-g-back: #BDBDBD;
$black-color: #000000;
$menu-vback-color: #E5E5E5;
$menu-hover-color: #C4C4C4;
$main-back: #F4F0ED;
$tablet-item-back: #ffffff;
$person-text: #A3A3A3;
$link-color: #55ab00;
$link-color-hover: #82c044;
$search-border: #bfbfbf;
$search-btn: #0675cb;
$mm-color: #f6b213;
$white-color: #fff;
$present-story-color: #909090;
$cards-block-bottom: #ececec;
$slider-btn-color: #f2f1ee;
$slider-btn-tab-color: #404040;

